# Node.js
node_modules
.next
out
dist
build

# Environnements
.env*
!.env*.example

# IDE
.DS_Store
.idea
.vscode
*.swp
*.swo

# Doc
*.md

# Tests
#*.test.*
#*.spec.*
#jest.config.*
#coverage
#__tests__/

# Cache & Build artifacts
.turbo
.cache
.vercel

# Docker
docker-compose*.yml
Dockerfile*

# Git
.git
.gitignore
.gitattributes

# Divers
*.log*
*.tmp*
