# Local .env (Docker Compose overrides specific values in container)

# Frontend local environment
NODE_ENV=development
PORT=3000

#  Public API (used by browser requests)
NEXT_PUBLIC_API_URL=http://localhost:3001/api

# Internal API (used by Next.js server or SSR)
BACKEND_URL=http://localhost:3001

# Logs
NEXT_PUBLIC_LOG_LEVEL=debug
