# --- PostgreSQL ---
DB_HOST=localhost
DB_OUT_PORT=5438
DB_PORT=5432
DB_USER=trinity
DB_PASSWORD=trinity
DB_DATABASE=trinityDb

# --- Backend ---
BACKEND_PORT=3000

# --- JWT / App secrets ---
JWT_SECRET=jwtsecret123
