# Environment
.env*
!.env*.example

# Dependances
node_modules/
**/node_modules/

# Build & Cache
dist/
build/
.tmp/
.next/
.cache/
coverage/
*.pid

# Logs
*.log
logs/
**/logs/
!**/logs/.gitkeep

# OS
.DS_Store
.AppleDouble
.LSOverride

Thumbs.db
ehthumbs.db
Desktop.ini

# IDE
.vscode/
.history/
*.code-workspace

.idea/

# Tests
*.coverage
*.lcov
jest-stare/
