NODE_ENV=development

# Default Database connection for NestJS backend (for local dev)
DB_HOST=localhost
DB_PORT=5433
DB_DATABASE=your_database_name
DB_USER=your__user_name
DB_PASSWORD=your_secure_password

# JWT Configuration
JWT_SECRET=your_jwt_secret
JWT_EXPIRATION=24h
